body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}


/* START PAGE 1 */


.home{
    background-image: url(/imgs/Background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.navbar{
    background-color: transparent;
}
.nav-link{
    color:white;
    font-size: 15px;
}
.nav-link:hover{
    color: white;
}
.logo{
    width: 40%;
}
.btn1{
    border-radius: 20px;
    margin-left: 20px;
    background-color: white;
    font-weight: bold;
}
.C1{
    padding-top: 12%;
}
.C1 h1{
    color: white;
    font-size: 5rem;
    text-align: center;
    width: fit-content;
}
.C1 .text-3{
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 41px;
    font-weight: bold;
}
.C1 h5{
    padding-top: 10px;
    color: whitesmoke;
    width: 400px;
}
.btn2{
    margin-top: 25px;
    border-radius: 40px;
    background-color: white;
    padding-right: 45px;
    padding-left: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}
.btn2:hover, .btn2:focus, .btn2:active{
    color: white;
    background-color: #009FFF;
    box-shadow: 0 0 20px rgba( 0, 0, 0, 0.5);
}
.C1 .img1{
    padding-left: 80px;
}

/* START PAGE 2 */
.services{
    background-size: cover;
    background-position: center;
    height: 110vh;
    width: 100%; 
}
.services h1{
    font-weight: bold;
    padding-top: 8%;
}
.services .service-box{
    cursor: pointer;
    margin-top: 10%;
    box-shadow: 0 0 10px rgba( 0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
}
.services h5{
    padding-top: 15px;
    font-weight: bold;
}




/* START PAGE 3 */

.tools{
    background-size: cover;
    background-position: center;
    height: 120vh;
    width: 100%;
}
.tools h1{
    cursor: pointer;
    text-align: center;
    padding-top: 18%;
    font-weight: bold;
}
.tools h5{
    cursor: pointer;
    text-align: center;
    color: gray;
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 0.5s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
.reveal2{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}
.reveal2.active{
    transform: translateY(0px);
    opacity: 1;
}

/* START PAGE 4*/

.team{
    background-color: white;
    background-size: cover;
    background-position: center;
    height: 120vh;
    width: 100%;
    overflow-x: hidden;
}

.team h1{
    padding-top: 17%;
    text-align: center;
    font-size: 50px;
}
.team h3{
    text-align: center;
    color: gray;
}
.team h4{
    text-align: center;
}
.team h5{
    text-align: center;
}


/* START PAGE 5 */

.count{
    background-color: white;
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.count .k1{
    padding-top: 20%;
}
.count h1{
    font-weight: bold;
    color: rgb(6, 6, 112);
}
.count h6{
    color: gray;
}
.count .numb{
    font-size: 60px;
    font-weight: 900;
    color: red;
}
.count2 h1{
    color: red;
}
.count .z{
    color: rgb(6, 6, 112);
}

/* START PAGE 6 */


.contact{
    background-image: url(/imgs/Background.png);
    height: 50vh;
    width: 100%;
}
.contact h1{
    color: white;
    font-size: 70px;
    text-align: center;
    padding-top: 4%;
}
.contact h3{
    color: white;
    text-align: center;
}
.contact .button{
    padding-bottom: 13px;
}
.contact .A1{
    height: 25vh;
    background-color: black;
}
.contact h5{
    color: white;
    padding-top: 20px;
    padding-left: 50px;
}


/* RESPONSIVE */
@media (max-width: 1200px){
    .REV{
        padding-top: 9%;
    }
}
@media (max-width: 991px){
    .btn1{
        width: 150px;
    }
    .C1{
        padding-top: 20%;
        text-align: center;
    }
    .C1 h5{
        padding-top: 10px;
        color: whitesmoke;
        width: 100%;
    }
    .C1 .img1{
        padding-left: 0;
        width: 60%;
    }
    .C1 .text-3{
        font-size: 30px;
    }
    .navbar{
        background-color: #009fff;
    }
    .logo{
        width: 60%;
    }
    .services .ser1{
        margin-top: 10%;
        margin-left: 50px;
        width: 30%;
        box-shadow: 0 0 20px rgba( 0, 0, 0, 0.5);
        border-radius: 15px;
        padding: 20px;
    }
    .services .ser2{
        margin-top: 10%;
        width: 30%;
        box-shadow: 0 0 20px rgba( 0, 0, 0, 0.5);
        border-radius: 15px;
        padding: 20px;
    }
    .services .ser3{
        margin-top: 10%;
        width: 30%;
        margin-right: 50px;
        box-shadow: 0 0 20px rgba( 0, 0, 0, 0.5);
        border-radius: 15px;
        padding: 20px;
    }
    .contact .A1{
        height: 40vh;
    }


}
@media (max-width: 767px){
    .home{
        height: 120vh;
    }
    .services{
        height: 280vh;
    }
    .tools{
        height: 170vh;
    }
    .tools h1{
        padding-top: 0;
    }
    .team{
        height: 130vh;
    }
    .contact h1{
        font-size: 50px;
    }
    .count{
        text-align: center;
    }
    .count h1{
        padding-top: 50px;
    }
}
@media (max-width : 576px){
    .home{
        height: 150vh;
    }
    .services{
        height: 280vh;
    }
    .tools{
        height: 250vh;
    }
    .tools h1{
        padding-top: 50px;
    }
    .contact .A1{
        height: 45vh;
    }
    .team{
        height: 150vh;
    }
    .team h1{
        padding-top: 80px;
        font-size: 40px;
    }
    .count{
        height: 100vh;
    }
}
@media (max-width : 420px){
    .services{
        height: 330vh;
    }
    .tools{
        height: 310vh;
    }
}
@media (max-width : 385px){
    .services{
        height: 330vh;
    }
    .tools{
        height: 330vh;
    }
    .tools h1{
        padding-top: 120px;
    }
    .contact .A1{
        height: 65vh;
    }
    .C1 .img1{
        padding-top: 12%;
    }
}
